/*
!/config/
/config/*
!/config/dropt
!/config/triumph
!/resources
!/scripts
!/config/deepmoblearning.cfg
!/config/voidislandcontrol.cfg
!/perfectspawn.json
!/.gitignore
!/readme_cn.md
!/config/incontrol
!/config/Netherending Ores.cfg
!/config/cofh
!/config/wizardry
!/mod_list_manual.txt
!/manifest.json
!/config/enderio
/config/enderio/*
!/config/enderio/enderio.cfg
!/structures
!/config/reccomplex.cfg