/*
!/config/
/config/*
!/config/dropt
!/config/triumph
!/resources
!/scripts
!/config/deepmoblearning.cfg
!/config/voidislandcontrol.cfg
!/perfectspawn.json
!/.gitignore
!/readme_cn.md
!/config/incontrol
!/config/Netherending Ores.cfg
!/config/cofh
!/config/wizardry
!/mod_list_manual.txt
!/manifest.json
!/config/enderio
/config/enderio/*
!/config/enderio/recipes
/config/enderio/recipes/*
!/config/enderio/recipes/user
!/config/enderio/enderio.cfg
!/structures
!/config/reccomplex.cfg
!/config/dimensionalcontrol
!/config/toastcontrol.cfg
!/config/tombstone.cfg
!/config/immersiveengineering.cfg
!/config/immersivepetroleum.cfg
!/config/pneumaticcraft.cfg
!/config/pneumaticcraft
!/config/login_shield.cfg
!/config/cyclopscore.cfg
!/config/tconstruct.cfg
!/config/bonsaitrees
!/config/AppliedEnergistics2
!/config/advRocketry
!/config/teamreborn
!/config/topography