# Config Folders
src/config/acronym
src/config/AE2Stuff
src/config/AppliedEnergistics2/items.csv
src/config/athenaeum
src/config/betteradvancements
src/config/calmdownzombieguy
src/config/codechicken
src/config/CoroUtil
src/config/endercore
src/config/jei
src/config/opencomputers
src/config/smoothfont
src/config/unidict
src/config/valkyrielib
src/config/vanillafix
src/config/xnet

# Single Config Files
src/config/*.cfg
src/config/*.json
src/config/*.ini
src/config/*.txt
src/config/*.properties
# Only include these
!/src/config/Netherending Ores.cfg
!/src/config/PlusTweaks.cfg
!/src/config/cyclopscore.cfg
!/src/config/deepmoblearning.cfg
!/src/config/immersiveengineering.cfg
!/src/config/immersivepetroleum.cfg
!/src/config/instantunify.cfg
!/src/config/login_shield.cfg
!/src/config/pneumaticcraft.cfg
!/src/config/reccomplex.cfg
!/src/config/tconstruct.cfg
!/src/config/tips.cfg
!/src/config/toastcontrol.cfg
!/src/config/tombstone.cfg

# Dev tools
/devtools

# Server files
/server